.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  padding: 15px;

  border: 1px solid gray;

  /* if not focused */
  filter: grayscale(100%);
}

.App:focus {
  filter: none;
}

.focus-reminder {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;

  font-size: 3rem;
  animation: accent 0.7s infinite ease-in-out alternate;
}

.focus-reminder.shown {
  display: block;
}


@keyframes accent {
  from {
    color: red;
  }
  to {
    color: #fff;
  }
}